In [1]:
print("Hello, there")

Hello, there

In [4]:
import pandas
pandas.__version__

'2.0.3'

In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [5]:
1+3

4

In [6]:
2*4

8

In [14]:
# деление:
3/2

1.5

In [11]:
# возведение в степень:
2**4

16

In [21]:
# остаток отделения
4%2

0

In [20]:
# остаток отделения
5%2

1

In [23]:
# сначала умножение, потом деление, сложение и вычитание
2+3*5+5

22

In [25]:
# сначала умножение, потом деление, сложение и вычитание
2+4/2+5

9.0

In [32]:
# сначала умножение, потом деление, потом порядку
2-6/2+5

4.0

In [34]:
#сначала умножение/деление потом все остальное по порядку
2-4/2+5

5.0

In [36]:
print('my name is {myname} and my phone number {phone_number}'.format(myname="Tonny", phone_number=3333333))

my name is Tonny and my phone number 3333333

In [3]:
my_list=['жизнь', 'cloud', 8, 'string', 234]
data_1=my_list[-2]
print(my_list)
print(data_1)

['жизнь', 'cloud', 8, 'string', 234]
string

In [5]:
my_list[1] = 1987

print(f"Full list: {my_list}")
print(f"Updated position: {my_list[1]}")

Full list: ['жизнь', 1987, 8, 'string', 234]
Updated position: 1987

In [6]:
my_list.append('my')
print(f'my_list: {my_list}')

my_list: ['жизнь', 1987, 8, 'string', 234, 'my']

In [7]:
new_list = [154, 888,[999, 23423, 'data']]
print(f'new_list: {new_list}')
print(f'new_list: {new_list[2]}')

new_list: [154, 888, [999, 23423, 'data']]
new_list: [999, 23423, 'data']

In [12]:
dict = {'key1':'value1', 'key2':'value2'}
print(f'full dictonary: {dict}')

full dictonary: {'key1': 'value1', 'key2': 'value2'}

In [17]:
print(f'second key/value: {dict["key2"]}')

second key/value: value2

In [19]:
set = {'test', 9, 'oops', 3432}
print(f"set: {set}")

set: {3432, 9, 'test', 'oops'}

In [ ]:
set = {'test', 9, 'oops', 3432}
print(f"set: {set}")