In [7]:
def my_func(name="NO_NAME"):
    """just print 'Hello, + name'"""
    print(f"Hello, {name}")

In [8]:
my_func("Tonny")

Hello, Tonny

In [9]:
my_func()

Hello, NO_NAME

In [49]:
def square(x):
    return (x**2)

In [53]:
result = square(3)
print(result)

9

print(type(result))

In [5]:
### lambda - похожа на функции, но не имеют названий и заускаются только один раз

In [2]:
def times_two(var):
    return var*2

In [3]:
times_two(11)

22

In [4]:
lambda var: var*2

In [10]:
st = "test Text and SomeThing ALSe"

In [11]:
st.lower()

'test text and something alse'

In [12]:
st.upper()

'TEST TEXT AND SOMETHING ALSE'

In [14]:
st.split() # разбивает строку и превращает ее в словарь со строками

['test', 'Text', 'and', 'SomeThing', 'ALSe']

In [22]:
tweet = "Hello, #sports test data #just for fun"

In [23]:
tweet.split()

['Hello,', '#sports', 'test', 'data', '#just', 'for', 'fun']

In [24]:
tweet.split('#')

['Hello, ', 'sports test data ', 'just for fun']

In [25]:
tweet.split(' ')

['Hello,', '#sports', 'test', 'data', '#just', 'for', 'fun']

In [33]:
tweet.split('#')[1]
#tweet.split('#')[-1]

'sports test data '

In [34]:
d = {"k1":"v1", "k2":"v2"}

In [43]:
d.keys()

dict_keys(['k1', 'k2'])

In [37]:
d.items() # словарь не хранят порядок поэтому возвращаются в произвольном виде

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [44]:
 my_list = [1, 2, 3]

In [51]:
# извлекает **по умолчанию**последний элемент списка
last = my_list.pop()

In [48]:
my_list

[1, 2]

In [52]:
last

3

In [93]:
my_list=[1, 2, 3, 4]

In [2]:
my_list

NameError: name 'my_list' is not defined

In [3]:
# my_list.pop(0) - извлекает из списка my_list нулевой элемент и сохраняет в переменную
first = my_list.pop(0)

NameError: name 'my_list' is not defined

In [96]:
first

1

In [97]:
"x" in [1, 2, 3]

False

In [98]:
"x" in my_list

False

In [1]:
2 in my_list

NameError: name 'my_list' is not defined