In [53]:
# пример  одноразовой таблицей в оперативной памяти компьютера
# в параметр con должно передаваться подключение к реально базе данных

In [54]:
import pandas as pd
import numpy as np

In [55]:
from sqlalchemy import create_engine

In [56]:
temp_db = create_engine('sqlite:///:memory:')

In [57]:
df = pd.DataFrame(data=np.random.randint(low=0, high=100, size=(4,4)), columns=['a','b','c', 'd'])

In [58]:
df

    a   b   c   d
0  75  65  65  10
1  74  49   3  64
2  90  78  63  57
3  11  48  60  27

In [59]:
df.to_sql(name='new_table',con=temp_db)

4

In [60]:
new_df = pd.read_sql(sql='new_table', con=temp_db)

In [61]:
new_df

   index   a   b   c   d
0      0  75  65  65  10
1      1  74  49   3  64
2      2  90  78  63  57
3      3  11  48  60  27

In [62]:
pd.read_sql_query(sql="SELECT a,c FROM new_table", con=temp_db)

    a   c
0  75  65
1  74   3
2  90  63
3  11  60