In [1]:
import pandas as pd

In [2]:
pwd

'/Users/admin/PycharmProjects/DS_ML_course/lesson3_Pandas'

In [3]:
ls

lesson10_process_csv.ipynb            lesson5_missing_data.py
lesson1_Series.ipynb                  lesson6_groupedby.ipynb
lesson1_Series.py                     lesson6_groupedby.py
lesson2_DataFrames.ipynb              lesson7_concatenations.ipynb
lesson2_DataFrames.py                 lesson7_concatenations.py
lesson3_filtering_by_condition.ipynb  lesson8_text_methods.ipynb
lesson3_filtering_by_condition.py     lesson8_text_methods.py
lesson4_usefull_methods.ipynb         lesson9_datetime.ipynb
lesson4_usfull_methods.py             lesson9_datetime.py
lesson5_missing_data.ipynb

In [4]:
import os

In [5]:
#

'/Users/admin/PycharmProjects/DS_ML_course/lesson3_Pandas'

In [6]:
ls ../course_data/03-Pandas/

00-Series.ipynb*
01-DataFrames.ipynb*
02-Conditional-Filtering.ipynb*
03-Useful-Methods.ipynb*
04-Missing-Data.ipynb*
05-Groupby-Operations-and-MultiIndex.ipynb*
06-Combining-DataFrames.ipynb*
07-Text-Methods.ipynb*
08-Time-Methods.ipynb*
09-Inputs-and-Outputs.ipynb*
10-Pivot-Tables.ipynb*
11-Pandas-Project-Exercise.ipynb*
12-Pandas-Project-Exercise-Solution.ipynb*
RetailSales_BeerWineLiquor.csv*
Sales_Funnel_CRM.csv*
example.csv*
example.xlsx*
hotel_booking_data.csv*
movie_scores.csv*
mpg.csv*
my_excel_file.xlsx*
new_file.csv*
new_workbook.xlsx*
newfile.csv*
reshaping_pivot.png*
sample_table.html*
simple.html*
tips.csv*

In [23]:
df = pd.read_csv('../course_data/03-Pandas/example.csv')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [20]:
#  названия колонок не указываются
df = pd.read_csv('../course_data/03-Pandas/example.csv', header = None)
df

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [21]:
# 
df = pd.read_csv('../course_data/03-Pandas/example.csv', index_col=0)
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [24]:
# coхранение индекса по умолчанию index=True, не сохранять -  index=False
df.to_csv('./test_example.csv',  index=False)
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15