In [4]:
import pandas as pd

In [7]:
df = pd.read_excel('../course_data/03-Pandas/my_excel_file.xlsx', engine='openpyxl')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
df = pd.read_excel('../course_data/03-Pandas/my_excel_file.xlsx', sheet_name='First_Sheet',engine='openpyxl')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [13]:
wb = pd.ExcelFile('../course_data/03-Pandas/my_excel_file.xlsx')
wb.sheet_names

['First_Sheet']