In [4]:
import numpy as np
import pandas as pd

In [5]:
email = 'vlad@email.com'

In [6]:
email.split('@')

['vlad', 'email.com']

In [9]:
names = pd. Series(['andrew', 'bobo', 'claire', 'david', '5'])

In [10]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [11]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [12]:
names.str.lower()

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [13]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [35]:
tech_finance = ['GOOG,APPL,AMZN', 'JPN, BAC,GS']

In [36]:
len(tech_finance)

2

In [37]:
tickers = pd.Series(tech_finance)

In [38]:
tickers

0    GOOG,APPL,AMZN
1       JPN, BAC,GS
dtype: object

In [39]:
tickers.str.split(',')

0    [GOOG, APPL, AMZN]
1       [JPN,  BAC, GS]
dtype: object

In [42]:
tickers.str.split(',').str[0]

0    GOOG
1     JPN
dtype: object

In [43]:
tech = 'GOOG,APPL,AMZN'

In [41]:
tech.split(',')[0]

'GOOG'

In [44]:
tickers.str.split(',', expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPN   BAC    GS

In [47]:
messy_names = pd.Series(['andrew  ', 'bo:bo', '  clair  '])

In [48]:
messy_names

0     andrew
1        bo:bo
2      clair
dtype: object

In [49]:
messy_names[0]

'andrew  '

In [50]:
messy_names.str.replace(':', '')

0     andrew
1         bobo
2      clair
dtype: object

In [54]:
messy_names.str.replace(':', '').str.strip().str.capitalize()

0    Andrew
1      Bobo
2     Clair
dtype: object

In [58]:
def cleanup(name):
    name = name.replace(':', '')
    name = name.strip()
    name = name.capitalize()
    return name

In [59]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2     Clair
dtype: object